main {
    margin: 0px 100px 0px 100px;
}

.presentation {
    font-size: 50px;
    
}

.couleur_texte2 {
    margin-top: -55px;
    color: #2cd9a3;
    font-size: 50px
}

.intro {
    color: grey;
}
