header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.en-tete {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: medium;
    font-weight: normal;
}

.icone-espacement {
    margin: 0 5px 0 5px;
}
